---
import Hr from "@/components/home/Hr.astro";
---

<section>
    <p class="text-center text-pretty">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore accusamus dolor omnis reprehenderit enim ipsum aperiam expedita placeat quae!
    </p>
    <Hr/>
</section>
<style>
    section{
        padding-inline: 18%;
        @apply flex gap-y-8 flex-col; 
    }
</style>