---
import Hr from "@/components/home/Hr.astro";
---

<section class="mx-auto">
  <p class="text-center text-pretty">
    Welcome to our bakery. We specialize in crafting high-quality brownies made
    with carefully selected ingredients. Explore our site and discover
    excellence in every bite. We appreciate your visit and your trust.
  </p>
  <Hr />
</section>
<style>
  section {
    padding-inline: 18%;
    @apply flex gap-y-8 flex-col;
  }
  p {
    max-width: 30ch;
  }
</style>
