---
import Hr from "@/components/home/Hr.astro";
import { getI18n } from "@i18n/index";
const currentLocale = Astro.currentLocale ?? "es";
const { info } = getI18n({ currentLocale });
---

<section class="mx-auto">
  <p class="text-center text-pretty">
    {info["body"]}
  </p>
  <Hr />
</section>
<style>
  section {
    @apply flex gap-y-8 flex-col px-5 md:px-[18%];
  }
  p {
    @apply max-w-[30ch] md:text-xl;
  }
</style>
