@keyframes fade-in {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(-20px);
    opacity: 0;
  }
}
.btn_open {
  visibility: visible;
  animation: 150ms fade-in forwards ease;
}
.btn_close {
  visibility: visible;
  pointer-events: none;
  animation: 150ms fade-out forwards ease;
}
.lang_desktop {
  width: 6vw;
  height: 4vh;
  overflow: hidden;
  @apply fixed right-5 bottom-5 text-white bg-brown rounded-xl;
  & > * {
    transition: all 250ms ease-out;
  }
}
.lang_opt_desktop {
  width: 6vw;
  height: 4vh;
  grid-template-columns: 1fr min-content 1fr;
  @apply grid p-2 place-content-center text-center;
}
