---
import { RiMailLine as MailIcon } from "react-icons/ri";
import { RiInstagramLine as InstagramLogo } from "react-icons/ri";
---

<footer>
  <div class="phone-info">
    <a href="mailto:ovenbliss_bakery@outlook.com" target="_blank">
      <MailIcon />
    </a>
    <a
      href="https://www.instagram.com/ovenbliss_bakery/?hl=es-es"
      target="_blank"
    >
      <InstagramLogo />
    </a>
  </div>
  <ul class="desktop-info hidden md:flex justify-center gap-x-2">
    <li class="font-bold">social</li>
    <li>
      <a
        href="https://www.instagram.com/ovenbliss_bakery/?hl=es-es"
        target="_blank"
        rel="noopener noreferrer">instagram</a
      >
    </li>
    <li>
      <a
        href="mailto:ovenbliss_backery@outlook.com"
        target="_blank"
        rel="noopener noreferrer">email</a
      >
    </li>
  </ul>
</footer>
<style>
  footer {
    @apply py-[8vh] border-t-2 w-[80%] mx-auto;
  }
  .phone-info {
    @apply w-full flex justify-center gap-x-5 md:hidden;
  }
  .phone-info svg {
    @apply size-8;
  }
  .desktop-info a {
    transition: all 250ms ease;
    @apply hover:text-white/30;
  }
  .desktop-info ::before {
    content: " ・ ";
    @apply hover:text-white;
  }
</style>
