---
import { getI18n } from "@i18n/index";
import { Image } from "astro:assets";
import { ButtonCustomLink } from "../ui/linkAnimation";
const currentLocale = Astro.currentLocale ?? "es";
const { hero } = getI18n({ currentLocale });
import { getRelativeLocaleUrl } from "astro:i18n";
---

<header>
  <h1 class="text-brown text-3xl flex flex-col items-center">
    <span class="md:text-[4vh]">{hero["title"][0]}</span>
    <span class="md:text-[4vh]">{hero["title"][1]}</span>
    <a href={getRelativeLocaleUrl(currentLocale, "/shop")}>
      <ButtonCustomLink className="text-brown text-xl before:-bottom-1"
        >{hero["subtitle"]}
      </ButtonCustomLink>
    </a>
  </h1>
  <picture
    class="absolute inset-0 -z-50 before:inset-0 before:bg-white/30 before:absolute"
  >
    <Image
      src="https://images.unsplash.com/photo-1627676962573-96e453a99069?q=80&w=3085&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Image of a backery"
      width={500}
      height={500}
      class="size-full object-cover"
    />
  </picture>
</header>
<style>
  header {
    position: relative;
    height: 100dvh;
    display: grid;
    place-content: center;
    z-index: 10;
  }
</style>
